/* Set CSS variables */
:root {
    --mcb: rgb(9,92,212);
    --red: rgb(255,0,0);
    --mcy: rgb(251,208,0);
    --mcg: rgb(67,176,71);
    --mclb: rgb(9,181,212);
    --bsb: rgba(0, 0, 0, 0.397);
    --purple: rgb(128,0,128);
    --ccblue: #1383D9;
    --ccred: #D82613;
    --ccyellow: #D8AA13;
    --ccgreen: #13D8AA;
    --ccpurple: #9014D9;
    --ccorbr: #D86813;
    --White:rgb(255,255,255);
    --Black:rgb(0,0,0);
    --SpanishBlue:#076FBE;
    --IntOrangeEng:#BB1806;
    --KRYellow:#f5df4d;
    --KRRed:#f56e4d;
    --KRBlue:#4D63F5;
    --KRGreen:#63F54D;
    --JBGrey:rgb(133,137,138);
    --GoogleRed:#ea4335;
    --GoogleGreen:#34a853;
    --GoogleYellow:#fbbc05;
    --GoogleBlue:#4285F4;
    --NewKRTeal:#12eaea;
    --NewKRBlue:#1111e8;
    --NewKRRed:#e81111;
    --NewKRYellow:#e8e811;
    --GAlogobg:#faf2e5;
    --GAlogo:#024eac;
    --GAPurple:#5f02ac;

}

/* Make scroll behavior smooth */
html {
    scroll-behavior: smooth;
}

/* Remove text decoration for all hyperlinks */

a {
    text-decoration: none;
}

/* Background Settings */
body {
    font-family: Roboto, Geneva, Tahoma, sans-serif;
}

/* Fixed Menu Settings */
.navbar {
    overflow: hidden;
    background-color: var(--GAlogobg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.navbar a {
    float: left;
    color: var(--GoogleBlue);
    text-align: center;
    padding: 6px 8px;
    font-size: 14px;
    background-size: 0% 100%;
    box-shadow: var(--bsb);
}

.navbar a:hover {
    background-color: none;
    color: var(--GAPurple);
    background-image: linear-gradient(transparent calc(100% - 2px), var(--GAPurple) 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    position: relative;
    background-repeat: no-repeat;
    transition: all .4s;
    font-size: 15px;
}

/*
.navbar img {
    float: left;
    height: auto;
    width: 18%;
    left: 0;
}
*/

.navbar-links {
    float: left;
    width: 13%;
}

.navbar-links img {
    height: auto;
    width: 32%;
    float: left;
}

.navbar-links img:hover {
    height: auto;
    width: 36%;
    float: left;
    transition: all .4s;
}

.navbar-links-row::after {
    content:"";
    clear:both;
    display: table;
}

* {
    box-sizing: border-box;
}