/* Set CSS variables */
:root {
    --mcb: rgb(9,92,212);
    --red: rgb(255,0,0);
    --mcy: rgb(251,208,0);
    --mcg: rgb(67,176,71);
    --mclb: rgb(9,181,212);
    --bsb: rgba(0, 0, 0, 0.397);
    --purple: rgb(128,0,128);
    --ccblue: #1383D9;
    --ccred: #D82613;
    --ccyellow: #D8AA13;
    --ccgreen: #13D8AA;
    --ccpurple: #9014D9;
    --ccorbr: #D86813;
    --White:rgb(255,255,255);
    --Black:rgb(0,0,0);
    --SpanishBlue:#076FBE;
    --IntOrangeEng:#BB1806;
    --KRYellow:#f5df4d;
    --KRRed:#f56e4d;
    --KRBlue:#4D63F5;
    --KRGreen:#63F54D;
    --JBGrey:rgb(133,137,138);
    --GoogleRed:#ea4335;
    --GoogleGreen:#34a853;
    --GoogleYellow:#fbbc05;
    --GoogleBlue:#4285F4;
    --NewKRTeal:#12eaea;
    --NewKRBlue:#1111e8;
    --NewKRRed:#e81111;
    --NewKRYellow:#e8e811;
    --GAlogobg:#faf2e5;
    --GAlogo:#024eac;
    --GAPurple:#5f02ac;
    --GAGrey:#dbd5cd;

}

/* Make scroll behavior smooth */
html {
    scroll-behavior: smooth;
}

/* Remove text decoration for all hyperlinks */

a {
    text-decoration: none;
}

/* Background Settings */
body {
    font-family: Roboto, Geneva, Tahoma, sans-serif;
}

/* Fixed Menu Settings */
.navbar {
    overflow: hidden;
    background-color: var(--GAGrey);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display:inline-block;
    text-align: center;
    border-radius: 5px;
}

.navbar-left {
    display: inline-block;
    height: auto;
    width: 12%;
    border-radius: 5px;
    left: 0;
    z-index: 3;
  }


@media screen and (min-width: 700px) {
    .navbar-left {
        margin-right: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        width: 30%;
        float: left;
    }
}

.navbar-name {
    text-decoration: none;
    display: block;
    color: var(--GAlogo);
    padding: 14px;
    font-size: 20px;
    background-size: 0% 100%;
    box-shadow: var(--bsb);
    top: 15%;
    border-radius: 15px;
    left: 15%;
    height: auto;
    float: left;
}

.navbar-name:hover {
    background-color: none;
    color: var(--GAPurple);
    background-image: linear-gradient(transparent calc(100% - 2px), var(--GAPurple) 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    position: relative;
    background-repeat: no-repeat;
    transition: all .4s;
    font-size: 24px;
}

.navbar-logo {
    top: 0;
    left: 0;
    display: inline-block;
    background-color: none;
    z-index: 2;
}

@media screen and (max-width: 699px) {
    .navbar-logo {
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--GAGrey);
    }
}


.navbar-right {
    display: none;
    color: var(--GAlogo);
    text-align: center;
    padding: 14px;
    font-size: 20px;
    background-size: 0% 100%;
    box-shadow: var(--bsb);
    top: 15%;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.navbar-right-position {
    top:20%;
    background-color: var(--GAGrey);
    left: 35%;

}

.navbar-right:hover {
    background-color: none;
    color: var(--GAPurple);
    background-image: linear-gradient(transparent calc(100% - 2px), var(--GAPurple) 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    position: relative;
    background-repeat: no-repeat;
    transition: all .4s;
    font-size: 24px;
}

.navbar-container {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    text-align: center;
    display: inline-block;
    position: relative;
    border-radius: 5px;
}

/*
.navbar a {
    float: left;
    color: var(--GAlogo);
    text-align: center;
    padding: 5px;
    font-size: 17px;
    background-size: 0% 100%;
    box-shadow: var(--bsb);
}

.navbar a:hover {
    background-color: none;
    color: var(--GAPurple);
    background-image: linear-gradient(transparent calc(100% - 2px), var(--GAPurple) 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    position: relative;
    background-repeat: no-repeat;
    transition: all .4s;
    font-size: 20px;
}


.navbar img {
    float: left;
    height: auto;
    width: 18%;
    left: 0;
    opacity: 0.8;
}


.navbar-links a {
    float: left;
    width: 15%;
    vertical-align: bottom;
    color: var(--GAlogo);
    text-align: center;
    padding: 5px;
    font-size: 17px;
    background-size: 0% 100%;
    box-shadow: var(--bsb);
}

.navbar-links a:hover {
    background-color: none;
    color: var(--GAPurple);
    background-image: linear-gradient(transparent calc(100% - 2px), var(--GAPurple) 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    position: relative;
    background-repeat: no-repeat;
    transition: all .4s;
    font-size: 20px;
}

.navbar-links img {
    height: auto;
    width: 20%;
    float: left;
    top:0;
}

.navbar-links img:hover {
    height: auto;
    width: 30%;
    float: left;
    transition: all .4s;
}

.navbar-links-row::after {
    content:"";
    clear:both;
    display: table;
}

* {
    box-sizing: border-box;
}

.navbar-margin {
    margin-top: 20;
    vertical-align: bottom;
}

/* Slide menu settings */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: var(--GAlogobg);
    overflow-y: hidden;
    margin-top: 10px;
    transition: 0.4s;
    left: 0;
    right: 0;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    text-align: center;
    color: var(--GAlogo);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-size: 0% 100%;
    box-shadow: var(--bsb);
    display: block;
}

.overlay a:hover {
    background-color: none;
    color: var(--GAPurple);
    background-image: linear-gradient(transparent calc(100% - 2px), var(--GAPurple) 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    position: relative;
    background-repeat: no-repeat;
    transition: all .3s;
    font-size: 20px;
}

#myNav {
    height: 0%;
}

#myNav.open {
    height: 50%;
}

@media screen and (min-width: 400px) {
    .overlay {
        margin-top: 30px;
    }
}

@media screen and (min-width: 430px) {
    .overlay {
        margin-top: 35px;
    }
}

@media screen and (min-width: 460px) {
    .overlay {
        margin-top: 40px;
    }
}

@media screen and (min-width: 490px) {
    .overlay {
        margin-top: 45px;
    }
}

@media screen and (min-width: 500px) {
    .overlay {
        margin-top: 50px;
    }
}

.fixed-navbar-icon {
    display: none;
}

@media screen and (max-width: 740px) {
    .fixed-navbar-icon {
       display: block;
       float: right;
       position: absolute;
       right: 0;
       top: 0;
       text-align: center;
       color: var(--GAlogo);
       padding: 10px 12px;
       text-decoration: none;
       font-size: 17px;
       background-size: 0% 100%;
       box-shadow: var(--bsb);
       border: 2px solid var(--GAlogo);
       border-radius: 15px;
    }

    .fixed-navbar-icon:hover {
    background-color: none;
    color: var(--GAPurple);
    background-image: linear-gradient(transparent calc(100% - 2px), var(--GAPurple) 1px);
    text-decoration: none;
    background-size: 100% 100%;
    background-position: 100%;
    position: absolute;
    background-repeat: no-repeat;
    transition: all .3s;
    border: 2px solid var(--GAPurple);
    border-radius: 15px;
    }

}

.logo-display {
    border-radius: 7px;
    height: auto;
    float: left;
    width: 28%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 768px) {
    .logo-display {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        text-align: center;
        display: block;
        width: 50%;
        float: none;
        border-radius: 7px;
        position: relative;
    }

    .active {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        text-align: center;
        display: block;
        font-size: 45px;    
    }
}

@media screen and (min-width: 755px) {
    .navbar-right {
        display: inline-block;
    }
}
/* For desktop, tablets, and anything bigger than 768px */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* For, (hopefully, all), mobile phones */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}